
body{
    background: linear-gradient(black, rgb(89, 87, 87));
}

.navegacao{
    height: 60px;
}

.banner{
    /* height: 80vh; */
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: 40% 80%;
    background-size: 140vh;
    
}

.banner1{
    color: white;
    font-weight: bold;
    font-size: 3em;
    padding: 5em 0 0 55px;
    text-shadow: 5px 5px 15px rgba(255,255,255,30%);
}

.banner2{
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    padding: 65px 50px 55px 250px;
    text-align: right;
}
.icon{
    height: 5em;
}

.logo{
    height: 250px;
    margin-left: 180px;
    margin-top: 10px;
}

.logo:hover{
    transform: scale(1.1);
    transition: ease-in-out .5s;
}

.titulo{
    height: 80px;
}

.itens{
    height: 14vh;
}

.square:hover{
    border: 1px white solid;
    border-radius: 1.4em;
    transform: scale(1.4);
    transition: ease-in-out;
    transition-duration: .4s;
}

.circle:hover{
    border: 1px white solid;
    border-radius: 3em;
    transform: scale(1.4);
    transition: ease-in-out;
    transition-duration: .4s;
}

.itemGrande .row{
    padding: 100px 0;
}

.espacador1{
    height: 5em;
  }


  .descricao-projetos{
    color: white;
    font-size: 1.3rem;
  }

.caixa{
    border-radius: 1rem;
    background: linear-gradient(gray, rgb(89, 87, 87));
    margin-top: 5rem;
    width: 30%;
    height: 20%;
    padding: 2em;
}

.projeto-direita{
    text-align: left;
    padding: 2rem;
    padding: 8em 4em 0 0 ;
}
.projeto-esquerda{
    text-align: left;
    padding: 2rem;
    padding: 8em 4em 0 0 ;
}

.descricao-footer{
    color: white;
    font-size: 1.3rem;
    margin: 3em;
}

.projetos-display{
    height: 22.5em;
    width: 37.5em;
    margin-top: 5em;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(255,255,255,30%);
}

.projetos-display:hover{
    transform: scale(1.1);
    transition: ease-in-out 1s;
}

.descricao-contato{
    color: white;
}

.contato{
    margin-top: 4em;
  }

@media(max-width: 990px) {
    .icon {
      size: 4vh;
    }
    .itens{
        size:4vh
    }
    .logo{
        height: 15em;
        margin-left: 1em;
        margin-top: 5em;
    }

    .botao{
        margin-top: 2em;
        width: 5em;
    }

    .banner{
        background-size:82vh;
        background-position: 25% 60%;
        
    }

    .banner1{
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        padding: 12em 0 0 2.4em;
    }
    .banner2{
        color: white;
        font-weight: bold;
        font-size: 1em;
        padding: 1em 1em 1em 2em;

    }
    .projetos-display{
        margin-top: 5em;
    }

  }

@media(max-width: 600px){
    .logo{
        height: 10em;
    }
    .icon{
        height: 2em;
    }
}